{% extends "accounts/main.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <h5>Customers:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_product' %}">Create Product</a>
                <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_vending' %}">Create Vending Machine</a>
                <table class="table table-sm">
                    <tr>
                        <th>View</th>
                        <th>Customer</th>
                        <th>Total stock</th>
                    </tr>

                    {% for eachVending in vending %}
                    <tr>
                        <th><a class="btn btn-sm btn-info" href="{% url 'vending_machine' eachVending.id %}">View</a></th>
                        <td>{{eachVending.name}}</td>
                        <td>{{eachVending.location}}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>

{% endblock %}
